extends ../layout

block content
  h2.mb-3 Confirmar borrado
  p ¿Estás seguro de que quieres eliminar el pedido ID: #{pedido.id}?

  form(action=`/pedidos/${pedido.id}?_method=DELETE` method="POST").d-flex.gap-2
    button.btn.btn-danger(type="submit") Sí, borrar
    a.btn.btn-secondary(href="/pedidos") Cancelar
