extends layout

block content
  h2 Bienvenido al Sistema de Gestión del Restaurante
  p Selecciona una sección para administrar:

  div.mt-4
    a.btn.btn-primary.me-2(href="/empleados") Empleados
    a.btn.btn-success(href="/pedidos") Pedidos
