extends ../layout

block content
  h2 Detalle de Empleado
  ul
    li strong ID: #{empleado.id}
    li strong Rol: #{empleado.rol}
    li strong Área: #{empleado.area}
  a.btn.btn-secondary.mt-3(href="/empleados") Volver
