extends ../layout

block content
  h2 Detalle de Empleado
  ul
    li ID: #{empleado._id}
    li Rol: #{empleado.rol}
    li Área: #{empleado.area}
  a.btn.btn-secondary.mt-3(href="/empleados") Volver
