extends ../layout

block content
  h2.mb-3 Agregar Nuevo Cliente
  form(action="/clientes/agregar" method="POST")
    .mb-3
      label.form-label(for="nombre") Nombre
      input.form-contnombre(type="text" name="nombre" id="nombre" placeholder="Ej: Cecilia Gómez" required)
    .mb-3
      label.form-label(for="telefono") Área
      input.form-contnombre(type="text" name="telefono" id="telefono" placeholder="Ej: 1234567" required)
    .d-flex.gap-2
      button.btn.btn-primary(type="submit") Agregar Cliente
      a.btn.btn-secondary(href="/") Cancelar
