extends ../layout

block content
  h2.mb-3 Editar Cliente

  form(action=`/clientes/${cliente._id}?_method=PUT` method="POST")
    .mb-3
      label.form-label(for="nombre") Nombre
      input.form-contnombre(type="text" name="nombre" id="nombre" value=cliente.nombre required)
    .mb-3
      label.form-label(for="telefono") Área
      input.form-contnombre(type="text" name="telefono" id="telefono" value=cliente.telefono required)
    .d-flex.gap-2
      button.btn.btn-primary(type="submit") Guardar cambios
      a.btn.btn-secondary(href="/clientes") Cancelar
