if error && error.length
  each msg in error
    .alert.alert-danger.mb-3= msg

if success && success.length
  each msg in success
    .alert.alert-success.mb-3= msg

if info && info.length
  each msg in info
    .alert.alert-info.mb-3= msg
