extends layout

block content
  h2.mb-3 Bienvenido al Sistema de Gestión
  p.mb-4 Selecciona una sección para administrar los datos del restaurante:

  .d-flex.gap-2
    a.btn.btn-primary(href="/empleados") Empleados
    a.btn.btn-success(href="/pedidos") Pedidos
