extends layout

block content
    h2.mb-3 Bienvenido al Sistema de Gestión
    p.mb-4 Selecciona una sección para administrar los datos del restaurante:

    .d-flex.gap-2.flex-wrap
        a.btn.btn-primary(href="/pedidos") Pedidos
        a.btn.btn-success(href="/empleados") Empleados
        a.btn.btn-success(href="/clientes") Clientes
        a.btn.btn-success(href="/plataformas") Plataformas
        a.btn.btn-success(href="/productos") Productos
