doctype html
html
  head
    meta(charset="utf-8")
    title Sabor Urbano
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css")
  body.container.mt-4
    h1 Sistema de Gestión Sabor
    nav.mb-4
      a(href="/") Inicio
      a(href="/empleados") Empleados
      a(href="/pedidos" class="ms-2") Pedidos
    block content
