extends ../layout

block content
  h2 Detalle de Producto
  ul
    li ID: #{producto._id}
    li Nombre: #{producto.nombre}
    li Precio: #{producto.precio}
  a.btn.btn-secondary.mt-3(href="/productos") Volver
