extends ../layout

block content
  h2.mb-3 Editar Producto

  form(action=`/productos/${producto._id}?_method=PUT` method="POST")
    .mb-3
      label.form-label(for="nombre") Nombre
      input.form-contnombre(type="text" name="nombre" id="nombre" value=producto.nombre required)
    .mb-3
      label.form-label(for="precio") Teléfono
      input.form-contnombre(type="text" name="precio" id="precio" value=producto.precio required)
    .d-flex.gap-2
      button.btn.btn-primary(type="submit") Guardar cambios
      a.btn.btn-secondary(href="/productos") Cancelar
